@import url('https://fonts.googleapis.com/css2?family=Radio+Canada&display=swap');

.project_card:hover {
  border: 2px solid rgb(139, 139, 255);
  margin: -2px;
}

.description {
  font-family: 'Radio Canada', sans-serif;
  padding: 0.4rem 0rem;
}

#image {
  width: 30rem;
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 319px) {
  .description {
    font-size: 0.6em;
  }
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  .description {
    font-size: 0.8em;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  .description {
    font-size: 0.9em;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .description {
    font-size: 1em;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .description {
    font-size: 1.1em;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .description {
    font-size: 1.2em;
  }
}
