@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

#name {
  color: orangered;
}

.aboutMe {
  text-indent: 1ch;
}

.aboutMe p {
  text-indent: 5ch;
  font-family: 'Open Sans', sans-serif;
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  .aboutContainer {
    margin-top: -2rem;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  .aboutContainer {
    margin-top: 2rem;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .aboutContainer {
    margin-top: 2rem;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .aboutContainer {
    margin-top: 0rem;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .aboutContainer {
    margin-top: 0rem;
  }
}
