#text-drop {
  position: relative;
  display: flex;
  cursor: pointer;
}

.r {
  opacity: 0;
  animation: drop 0.4s linear forwards 0s;
}

.w {
  opacity: 0;
  animation: drop 0.4s linear forwards 0.2s;
}

.i {
  opacity: 0;
  animation: drop 0.4s linear forwards 0.4s;
}

.t {
  opacity: 0;
  animation: drop 0.4s linear forwards 0.6s;
}

.e {
  opacity: 0;
  animation: drop 0.4s linear forwards 0.8s;
}
.s {
  opacity: 0;
  animation: drop 0.4s linear forwards 1s;
}
.h {
  opacity: 0;
  animation: drop 0.4s linear forwards 1.2s;
}
.space{
    width: 1ch;
}
.b {
  opacity: 0;
  animation: drop 0.4s linear forwards 1.4s;
}
.e {
  opacity: 0;
  animation: drop 0.4s linear forwards 1.6s;
}
.r {
  opacity: 0;
  animation: drop 0.4s linear forwards 1.8s;
}
.a {
  opacity: 0;
  animation: drop 0.4s linear forwards 2s;
}

@keyframes drop {
  0% {
    transform: translateY(-200px) scaleY(0.9);
    opacity: 0;
  }
  5% {
    opacity: 0.7;
  }
  50% {
    transform: translateY(0px) scaleY(1);
    opacity: 1;
  }
  65% {
    transform: translateY(-17px) scaleY(0.9);
    opacity: 1;
  }
  75% {
    transform: translateY(-22px) scaleY(0.9);
    opacity: 1;
  }
  100% {
    transform: translateY(0px) scaleY(1);
    opacity: 1;
  }
}




  
  /* Extra Small Devices, Phones */
  @media only screen and (max-width: 480px) {
    #text-drop{
        justify-content: center;
    }
  }
  
  /* Small Devices, Tablets */
  @media only screen and (max-width: 768px) {
    #text-drop{
        justify-content: center;
    }
  }
  
  /* Medium Devices, Desktops */
  @media only screen and (max-width: 992px) {
    #text-drop{
        justify-content: center;
    }
  }
  
  /* Large Devices, Wide Screens */
  @media only screen and (max-width: 1200px) {
    #text-drop{
        justify-content: center;
    }
  }
  