@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

@layer components {
  .heroButton {
    @apply py-2 px-4 m-2 text-gray-400 uppercase text-sm font-semibold cursor-pointer border-2 border-[rgb(36,36,36)] hover:border-gray-300 active:border-gray-300 rounded-full tracking-widest transition-all z-10
        focus:border-[rgb(36,36,36)];
  }
}
