#title {
  color: rgb(243, 82, 36);
}

.myLogo:hover {
  animation: spin 2s linear infinite;
  cursor: pointer;
}

.button_stack button{
  margin-right: 0.4em;
  font-size: 1em;
  letter-spacing: 0px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 0.2em 1em;
  border: hidden;
  border-radius: 2px;
  position: relative;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  /* color: #FF0072; */
  color: white;
  text-decoration: none;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  z-index: 1;
 }
 
 .button_stack button:before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: #FF0072;
  z-index: -1;
 }
 
 .button_stack button:hover, .button_stack button:focus {
  color: white;
 }
 
 .button_stack button:hover:before, .button_stack button:focus:before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
 }
 
 .button_stack button:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
 }


/* Animation for smaller screen  */
@media only screen and (max-width: 768px) {
  .myLogo {
    animation: spin 2s linear infinite;
    cursor: pointer;
  }
}


@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 0px) {
  .button_list {
    display: none;
  }

  .mobile_menu {
    margin-right: 5px;
  }

  .spacer{
    width: 55vw;
  }

}

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  .button_list {
    display: none;
  }
  .mobile_menu {
    margin-right: 5px;
  }
  .spacer{
    width: 65vw;
  }

}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  .button_list {
    display: none;
  }
  .mobile_menu {
    margin-right: 5px;
  }
  .spacer{
    width: 80vw;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .button_list {
    display: none;
  }
  .mobile_menu {
    margin-right: 5px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .mobile_menu {
    margin-right: 5px;
  }
  .spacer {
    width: 85vw;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .mobile_menu {
    display: none;
  }
  .button_list {
    display: block;
  }
  .spacer {
    width: 60vw;
  }
}
