.contribution-graph{
    color: white;
    padding-top: 15%;
}

.calendar {
    width: 70vw;
    border: none;
    color: white;
    margin-top: 2%;
}

.width-full {
    display: none;
}

.contrib-number{
    color: antiquewhite;
}
