* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: "rgb(28,28,28)" !important;

}
body{
    color: white;
    overflow-x:hidden;
    background-color: "rgb(28,28,28)" !important;
    height: max-content;
}