* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: white;
    overflow-x:hidden;
    background-color: rgb(31, 31, 31) !important;
    background-size: cover m !important;
}