* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: white;
    overflow-x:hidden;
    background-color: "rgb(28,28,28)" !important;
    height: 100vh;
    width: 100vw;
}