.skills_grid {
  grid-template-columns: repeat(6, 1fr);
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  .skills_grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  .skills_grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 3em;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .skills_grid {
    grid-template-columns: repeat(4, 1fr);
    gap:5em;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .skills_grid {
    grid-template-columns: repeat(6, 1fr);
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .skills_grid {
    grid-template-columns: repeat(6, 1fr);
  }
}